name: CI/CD Pipeline

on:
  workflow_dispatch:
    inputs:
      majorversion:
        required: true
        type: string
      minorversion:
        required: true
        type: string
        
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Set up JDK for Maven
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    # Step 3: Build the Maven project -DskipTests
    - name: Build with Maven
      run: mvn clean package

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        # registry: ghcr.io
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USER }}/my-java-app:v${{ inputs.majorversion }}.${{ inputs.minorversion }}.${{  github.run_number }}
